.home-container{
    background-repeat: repeat;
    padding: 2rem 3rem;
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 2rem;
    justify-content: center;
}

.background-image{
    position: absolute;
    width: 100%;
    z-index: -1;
    margin-top: -40px;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}